-- CreateEnum
CREATE TYPE "Moneda" AS ENUM ('MXN', 'USD');

-- CreateTable
CREATE TABLE "archivos" (
    "id_archivo" BIGSERIAL NOT NULL,
    "entidad_tipo" VARCHAR(30) NOT NULL,
    "entidad_id" BIGINT NOT NULL,
    "url" TEXT NOT NULL,
    "tipo" VARCHAR(50),
    "estado" VARCHAR(50) NOT NULL DEFAULT 'pendiente',
    "validado_por" UUID,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "archivos_pkey" PRIMARY KEY ("id_archivo")
);

-- CreateTable
CREATE TABLE "auditoria" (
    "id_auditoria" BIGSERIAL NOT NULL,
    "id_usuario" UUID,
    "accion" VARCHAR(50) NOT NULL,
    "tabla_afectada" VARCHAR(100) NOT NULL,
    "registro_id" TEXT,
    "valor_anterior" JSONB,
    "valor_nuevo" JSONB,
    "ip_origen" VARCHAR(45),
    "fecha" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "auditoria_pkey" PRIMARY KEY ("id_auditoria")
);

-- CreateTable
CREATE TABLE "carrito_item" (
    "id_item" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "precio_unitario_snapshot" DECIMAL(12,2) NOT NULL,
    "moneda_snapshot" "Moneda" NOT NULL DEFAULT 'MXN',
    "fecha_agregado" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "carrito_item_pkey" PRIMARY KEY ("id_item")
);

-- CreateTable
CREATE TABLE "categorias" (
    "id_categoria" SERIAL NOT NULL,
    "id_padre" INTEGER,
    "nombre" VARCHAR(150) NOT NULL,
    "slug" VARCHAR(150) NOT NULL,
    "descripcion" TEXT,
    "tipo" VARCHAR(50) NOT NULL DEFAULT 'general',
    "imagen_url" VARCHAR(500),
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "requiere_edad_minima" INTEGER,
    "codigo_hs_default" VARCHAR(20),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "categorias_pkey" PRIMARY KEY ("id_categoria")
);

-- CreateTable
CREATE TABLE "configuracion_sistema" (
    "id_config" SERIAL NOT NULL,
    "clave" VARCHAR(100) NOT NULL,
    "valor" TEXT,
    "tipo" VARCHAR(20) NOT NULL DEFAULT 'texto',
    "descripcion" VARCHAR(255),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "configuracion_sistema_pkey" PRIMARY KEY ("id_config")
);

-- CreateTable
CREATE TABLE "detalle_pedido" (
    "id_detalle" BIGSERIAL NOT NULL,
    "id_pedido" BIGINT NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "precio_compra" DECIMAL(12,2) NOT NULL,
    "moneda_compra" "Moneda" NOT NULL DEFAULT 'MXN',
    "impuesto" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "id_productor" INTEGER,
    "id_tienda" INTEGER,

    CONSTRAINT "detalle_pedido_pkey" PRIMARY KEY ("id_detalle")
);

-- CreateTable
CREATE TABLE "direcciones" (
    "id_direccion" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "ubicacion" JSONB NOT NULL DEFAULT '{}',
    "linea_1" VARCHAR(200),
    "linea_2" VARCHAR(200),
    "referencia" TEXT,
    "tipo" VARCHAR(20),
    "es_internacional" BOOLEAN NOT NULL DEFAULT false,
    "eliminado_en" TIMESTAMPTZ(6),
    "ciudad" VARCHAR(100),
    "codigo_postal" VARCHAR(20),
    "es_predeterminada" BOOLEAN NOT NULL DEFAULT false,
    "estado" VARCHAR(100),
    "nombre_destinatario" VARCHAR(150),
    "nombre_etiqueta" VARCHAR(60),
    "pais_iso2" CHAR(2),
    "telefono" VARCHAR(30),
    "calle" VARCHAR(200),
    "colonia" VARCHAR(150),
    "numero" VARCHAR(20),

    CONSTRAINT "direcciones_pkey" PRIMARY KEY ("id_direccion")
);

-- CreateTable
CREATE TABLE "envio_cotizaciones" (
    "id_cotizacion" BIGSERIAL NOT NULL,
    "id_pedido" BIGINT,
    "id_usuario" UUID,
    "id_transportista" INTEGER,
    "id_servicio" INTEGER,
    "payload_request" JSONB NOT NULL,
    "payload_response" JSONB,
    "moneda" "Moneda",
    "precio_total" DECIMAL(14,2),
    "tiempo_entrega_estimado" VARCHAR(100),
    "valida_hasta" TIMESTAMPTZ(6),
    "fecha_solicitud" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "envio_cotizaciones_pkey" PRIMARY KEY ("id_cotizacion")
);

-- CreateTable
CREATE TABLE "envio_eventos" (
    "id_evento" BIGSERIAL NOT NULL,
    "id_guia" BIGINT,
    "id_transportista" INTEGER,
    "numero_guia" VARCHAR(200),
    "origen" VARCHAR(20) NOT NULL,
    "estado_paqueteria" VARCHAR(100),
    "estado_normalizado" VARCHAR(30),
    "descripcion" TEXT,
    "ubicacion" VARCHAR(200),
    "payload" JSONB NOT NULL DEFAULT '{}',
    "procesado" BOOLEAN NOT NULL DEFAULT false,
    "fecha_evento" TIMESTAMPTZ(6),
    "fecha_registro" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "envio_eventos_pkey" PRIMARY KEY ("id_evento")
);

-- CreateTable
CREATE TABLE "envio_guias" (
    "id_guia" BIGSERIAL NOT NULL,
    "id_envio" BIGINT NOT NULL,
    "id_cotizacion" BIGINT,
    "id_transportista" INTEGER,
    "numero_guia" VARCHAR(200) NOT NULL,
    "url_etiqueta" VARCHAR(500),
    "label_pdf" BYTEA,
    "formato_etiqueta" VARCHAR(20),
    "payload_request" JSONB,
    "payload_response" JSONB,
    "estado_paqueteria" VARCHAR(100),
    "fecha_creacion" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),

    CONSTRAINT "envio_guias_pkey" PRIMARY KEY ("id_guia")
);

-- CreateTable
CREATE TABLE "envios" (
    "id_envio" BIGSERIAL NOT NULL,
    "id_pedido" BIGINT NOT NULL,
    "id_transportista" INTEGER,
    "id_servicio" INTEGER,
    "numero_rastreo" VARCHAR(200),
    "valor_declarado_aduana" DECIMAL(14,2),
    "moneda_aduana" "Moneda" NOT NULL DEFAULT 'MXN',
    "codigo_hs" VARCHAR(20),
    "peso_kg" DECIMAL(8,3),
    "alto_cm" DECIMAL(8,2),
    "ancho_cm" DECIMAL(8,2),
    "largo_cm" DECIMAL(8,2),
    "costo_envio" DECIMAL(14,2),
    "moneda_costo" "Moneda" NOT NULL DEFAULT 'MXN',
    "estado" VARCHAR(30) NOT NULL DEFAULT 'preparando',
    "requires_adult_signature" BOOLEAN NOT NULL DEFAULT false,
    "solicitar_proteccion" BOOLEAN NOT NULL DEFAULT false,
    "costo_proteccion" DECIMAL(14,2),
    "moneda_proteccion" "Moneda" NOT NULL DEFAULT 'MXN',
    "proteccion_id" VARCHAR(200),
    "fecha_envio" TIMESTAMPTZ(6),
    "fecha_entrega_estimada" TIMESTAMPTZ(6),
    "fecha_entrega" TIMESTAMPTZ(6),

    CONSTRAINT "envios_pkey" PRIMARY KEY ("id_envio")
);

-- CreateTable
CREATE TABLE "facturas" (
    "id_factura" BIGSERIAL NOT NULL,
    "id_pedido" BIGINT,
    "uuid_fiscal" VARCHAR(150),
    "pdf_url" TEXT,
    "xml_url" TEXT,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "rfc_emisor" VARCHAR(13),
    "rfc_receptor" VARCHAR(13),
    "uso_cfdi" VARCHAR(10),
    "regimen_fiscal" VARCHAR(10),
    "subtotal" DECIMAL(14,2),
    "impuestos_total" DECIMAL(14,2),
    "total" DECIMAL(14,2),
    "moneda" "Moneda",
    "estado" VARCHAR(20) NOT NULL DEFAULT 'pendiente',
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "facturas_pkey" PRIMARY KEY ("id_factura")
);

-- CreateTable
CREATE TABLE "integraciones_envio" (
    "id_integracion" SERIAL NOT NULL,
    "id_transportista" INTEGER NOT NULL,
    "entorno" VARCHAR(20) NOT NULL DEFAULT 'produccion',
    "api_url" VARCHAR(500),
    "api_key" BYTEA,
    "api_secret" BYTEA,
    "credenciales_extra" JSONB NOT NULL DEFAULT '{}',
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "integraciones_envio_pkey" PRIMARY KEY ("id_integracion")
);

-- CreateTable
CREATE TABLE "inventario" (
    "id_inventario" BIGSERIAL NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "stock_minimo" INTEGER NOT NULL DEFAULT 0,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "inventario_pkey" PRIMARY KEY ("id_inventario")
);

-- CreateTable
CREATE TABLE "lote_atributos" (
    "id_atributo" BIGSERIAL NOT NULL,
    "id_lote" INTEGER NOT NULL,
    "clave" VARCHAR(100) NOT NULL,
    "valor" TEXT,
    "unidad" VARCHAR(50),
    "fuente" VARCHAR(50) NOT NULL DEFAULT 'manual',
    "fecha_obtencion" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lote_atributos_pkey" PRIMARY KEY ("id_atributo")
);

-- CreateTable
CREATE TABLE "lotes" (
    "id_lote" SERIAL NOT NULL,
    "id_productor" INTEGER NOT NULL,
    "id_region" INTEGER,
    "codigo_lote" VARCHAR(100) NOT NULL,
    "sitio" VARCHAR(200),
    "fecha_produccion" DATE,
    "volumen_total" INTEGER,
    "estado_lote" VARCHAR(30) NOT NULL DEFAULT 'disponible',
    "datos_api" JSONB NOT NULL DEFAULT '{}',
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "unidades" INTEGER,
    "grado_alcohol" DECIMAL(5,2),
    "marca" VARCHAR(100),
    "descripcion" TEXT,
    "nombre_comun" VARCHAR(100),
    "nombre_cientifico" VARCHAR(150),
    "url_foto_especie" VARCHAR(255),
    "fecha_elaboracion" DATE,
    "botellas_350ml" INTEGER DEFAULT 0,
    "botellas_750ml" INTEGER DEFAULT 0,
    "url_trazabilidad" VARCHAR(500),

    CONSTRAINT "lotes_pkey" PRIMARY KEY ("id_lote")
);

-- CreateTable
CREATE TABLE "lista_deseos_item" (
    "id_item" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "precio_snapshot" DECIMAL(12,2),
    "moneda_snapshot" "Moneda" DEFAULT 'MXN',
    "nota" TEXT,
    "fecha_agregado" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lista_deseos_item_pkey" PRIMARY KEY ("id_item")
);

-- CreateTable
CREATE TABLE "movimientos_inventario" (
    "id_movimiento" BIGSERIAL NOT NULL,
    "id_inventario" BIGINT NOT NULL,
    "id_usuario" UUID,
    "tipo" VARCHAR(30) NOT NULL,
    "cantidad" INTEGER NOT NULL,
    "stock_resultante" INTEGER NOT NULL,
    "motivo" TEXT,
    "id_pedido" BIGINT,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "movimientos_inventario_pkey" PRIMARY KEY ("id_movimiento")
);

-- CreateTable
CREATE TABLE "notificaciones" (
    "id_notificacion" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "tipo" VARCHAR(60) NOT NULL,
    "titulo" VARCHAR(255) NOT NULL,
    "cuerpo" TEXT,
    "url_accion" TEXT,
    "leido" BOOLEAN NOT NULL DEFAULT false,
    "leido_en" TIMESTAMPTZ(6),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notificaciones_pkey" PRIMARY KEY ("id_notificacion")
);

-- CreateTable
CREATE TABLE "oauth_cuentas" (
    "id_cuenta" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "provider" VARCHAR(30) NOT NULL,
    "provider_uid" VARCHAR(255) NOT NULL,
    "email" VARCHAR(255),
    "foto_url" VARCHAR(500),
    "acceso_token" TEXT,
    "refresco_token" TEXT,
    "expira_en" TIMESTAMPTZ(6),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "oauth_cuentas_pkey" PRIMARY KEY ("id_cuenta")
);

-- CreateTable
CREATE TABLE "pagos" (
    "id_pago" BIGSERIAL NOT NULL,
    "id_pedido" BIGINT NOT NULL,
    "proveedor" VARCHAR(50),
    "payment_intent_id" VARCHAR(150),
    "estado" VARCHAR(50) NOT NULL DEFAULT 'pendiente',
    "monto" DECIMAL(14,2) NOT NULL,
    "monto_reembolsado" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "moneda" "Moneda" NOT NULL,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "pagos_pkey" PRIMARY KEY ("id_pago")
);

-- CreateTable
CREATE TABLE "pedidos" (
    "id_pedido" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "estado" VARCHAR(30) NOT NULL DEFAULT 'pendiente',
    "total" DECIMAL(14,2) NOT NULL,
    "tax_amount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "shipping_amount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "discount_amount" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "moneda" "Moneda" NOT NULL,
    "tipo_cambio" DECIMAL(10,4),
    "moneda_referencia" "Moneda" NOT NULL DEFAULT 'USD',
    "pais_destino_iso2" CHAR(2),
    "fecha_creacion" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "direccion_envio_snapshot" JSONB,
    "direccion_facturacion_snapshot" JSONB,
    "devolucion_estado" VARCHAR(20),
    "devolucion_motivo" TEXT,
    "devolucion_solicitada_en" TIMESTAMPTZ(6),
    "devolucion_resuelta_en" TIMESTAMPTZ(6),
    "id_direccion_envio" BIGINT,

    CONSTRAINT "pedidos_pkey" PRIMARY KEY ("id_pedido")
);

-- CreateTable
CREATE TABLE "permisos" (
    "id_permiso" SERIAL NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "eliminado_en" TIMESTAMPTZ(6),

    CONSTRAINT "permisos_pkey" PRIMARY KEY ("id_permiso")
);

-- CreateTable
CREATE TABLE "producto_imagenes" (
    "id_imagen" BIGSERIAL NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "url" VARCHAR(500) NOT NULL,
    "orden" INTEGER NOT NULL DEFAULT 0,
    "es_principal" BOOLEAN NOT NULL DEFAULT false,
    "alt_text" VARCHAR(255),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "producto_imagenes_pkey" PRIMARY KEY ("id_imagen")
);

-- CreateTable
CREATE TABLE "productor_categoria" (
    "id_productor" INTEGER NOT NULL,
    "id_categoria" INTEGER NOT NULL,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "productor_categoria_pkey" PRIMARY KEY ("id_productor","id_categoria")
);

-- CreateTable
CREATE TABLE "productores" (
    "id_productor" SERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "id_region" INTEGER,
    "biografia" TEXT,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "otras_caracteristicas" VARCHAR(255),
    "estado" VARCHAR(20) NOT NULL DEFAULT 'pendiente',
    "motivo_rechazo" TEXT,
    "revisado_en" TIMESTAMPTZ(6),
    "revisado_por" UUID,
    "solicitado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "datos_bancarios" TEXT,
    "razon_social" VARCHAR(200),
    "rfc" VARCHAR(13),
    "stripe_account_id" VARCHAR(150),
    "stripe_onboarding_completed" BOOLEAN NOT NULL DEFAULT false,
    "paypal_email" VARCHAR(254),
    "asociacion" VARCHAR(150),
    "nombre_marca" VARCHAR(150),
    "certificado_url" VARCHAR(500),
    "bodega_calle" VARCHAR(200),
    "bodega_ciudad" VARCHAR(100),
    "bodega_estado" VARCHAR(100),
    "bodega_codigo_postal" VARCHAR(20),
    "bodega_pais_iso2" CHAR(2) DEFAULT 'MX',
    "bodega_telefono" VARCHAR(30),
    "id_direccion_bodega" BIGINT,

    CONSTRAINT "productores_pkey" PRIMARY KEY ("id_productor")
);

-- CreateTable
CREATE TABLE "productos" (
    "id_producto" BIGSERIAL NOT NULL,
    "id_tienda" INTEGER NOT NULL,
    "id_lote" INTEGER,
    "nombre" VARCHAR(200) NOT NULL,
    "descripcion" TEXT,
    "traducciones" JSONB NOT NULL DEFAULT '{}',
    "precio_base" DECIMAL(12,2) NOT NULL,
    "moneda_base" "Moneda" NOT NULL DEFAULT 'MXN',
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "peso_kg" DECIMAL(8,3),
    "alto_cm" DECIMAL(8,2),
    "ancho_cm" DECIMAL(8,2),
    "largo_cm" DECIMAL(8,2),
    "status" VARCHAR(20) NOT NULL DEFAULT 'activo',
    "requiere_firma_adulto" BOOLEAN NOT NULL DEFAULT false,
    "requiere_edad_minima" INTEGER,
    "alergenos" TEXT[],
    "unidad_medida" VARCHAR(50),
    "botellas_350ml" INTEGER DEFAULT 0,
    "botellas_750ml" INTEGER DEFAULT 0,
    "creado_por" UUID,
    "actualizado_por" UUID,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "imagen_principal_url" VARCHAR(500),

    CONSTRAINT "productos_pkey" PRIMARY KEY ("id_producto")
);

-- CreateTable
CREATE TABLE "refresh_tokens" (
    "id_token" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "token_hash" VARCHAR(255) NOT NULL,
    "dispositivo" VARCHAR(200),
    "user_agent" TEXT,
    "ip_origen" VARCHAR(45),
    "expira_en" TIMESTAMPTZ(6) NOT NULL DEFAULT (now() + '30 days'::interval),
    "revocado_en" TIMESTAMPTZ(6),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id_token")
);

-- CreateTable
CREATE TABLE "regiones" (
    "id_region" SERIAL NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "estado_prov" VARCHAR(100),
    "pais_iso2" CHAR(2) NOT NULL DEFAULT 'MX',
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "regiones_pkey" PRIMARY KEY ("id_region")
);

-- CreateTable
CREATE TABLE "resenas" (
    "id_resena" BIGSERIAL NOT NULL,
    "id_usuario" UUID NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "calificacion" SMALLINT NOT NULL,
    "comentario" TEXT,
    "idioma_comentario" VARCHAR(10),
    "compra_verificada" BOOLEAN NOT NULL DEFAULT false,
    "fecha" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "respuesta_vendedor" TEXT,
    "fecha_respuesta" TIMESTAMPTZ(6),

    CONSTRAINT "resenas_pkey" PRIMARY KEY ("id_resena")
);

-- CreateTable
CREATE TABLE "rol_permiso" (
    "id_rol" INTEGER NOT NULL,
    "id_permiso" INTEGER NOT NULL,

    CONSTRAINT "rol_permiso_pkey" PRIMARY KEY ("id_rol","id_permiso")
);

-- CreateTable
CREATE TABLE "roles" (
    "id_rol" SERIAL NOT NULL,
    "nombre" VARCHAR(100) NOT NULL,
    "estado" VARCHAR(20) NOT NULL DEFAULT 'activo',
    "fecha_creacion" DATE NOT NULL DEFAULT CURRENT_DATE,
    "eliminado_en" TIMESTAMPTZ(6),

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id_rol")
);

-- CreateTable
CREATE TABLE "servicios_envio" (
    "id_servicio" SERIAL NOT NULL,
    "id_transportista" INTEGER NOT NULL,
    "codigo_servicio" VARCHAR(50) NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "tiempo_estimado" VARCHAR(100),
    "es_internacional" BOOLEAN NOT NULL DEFAULT false,
    "activo" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "servicios_envio_pkey" PRIMARY KEY ("id_servicio")
);

-- CreateTable
CREATE TABLE "tasas_impuesto" (
    "id_tasa" SERIAL NOT NULL,
    "pais_iso2" CHAR(2) NOT NULL,
    "id_categoria" INTEGER,
    "tipo" VARCHAR(20) NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "tasa_porcentaje" DECIMAL(6,4),
    "monto_fijo" DECIMAL(12,4),
    "moneda_monto_fijo" "Moneda",
    "vigente_desde" DATE NOT NULL DEFAULT CURRENT_DATE,
    "vigente_hasta" DATE,
    "incluido_en_precio" BOOLEAN NOT NULL DEFAULT false,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tasas_impuesto_pkey" PRIMARY KEY ("id_tasa")
);

-- CreateTable
CREATE TABLE "tiendas" (
    "id_tienda" SERIAL NOT NULL,
    "id_productor" INTEGER NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "descripcion" TEXT,
    "pais_operacion" CHAR(2) NOT NULL DEFAULT 'MX',
    "status" VARCHAR(20) NOT NULL DEFAULT 'activa',
    "fecha_creacion" DATE NOT NULL DEFAULT CURRENT_DATE,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "ciudad_origen" VARCHAR(100),
    "codigo_postal_orig" VARCHAR(20),
    "direccion_origen" VARCHAR(200),
    "estado_origen" VARCHAR(100),
    "nombre_contacto" VARCHAR(150),
    "telefono_contacto" VARCHAR(30),

    CONSTRAINT "tiendas_pkey" PRIMARY KEY ("id_tienda")
);

-- CreateTable
CREATE TABLE "transportistas" (
    "id_transportista" SERIAL NOT NULL,
    "codigo" VARCHAR(30) NOT NULL,
    "nombre" VARCHAR(150) NOT NULL,
    "paises_operacion" CHAR(2)[],
    "api_base_url" VARCHAR(500),
    "notas_integracion" TEXT,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "transportistas_pkey" PRIMARY KEY ("id_transportista")
);

-- CreateTable
CREATE TABLE "usuario_rol" (
    "id_usuario" UUID NOT NULL,
    "id_rol" INTEGER NOT NULL,
    "fecha_asignacion" DATE NOT NULL DEFAULT CURRENT_DATE,
    "estado" VARCHAR(20) NOT NULL DEFAULT 'activo',

    CONSTRAINT "usuario_rol_pkey" PRIMARY KEY ("id_usuario","id_rol")
);

-- CreateTable
CREATE TABLE "usuarios" (
    "id_usuario" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nombre" VARCHAR(100) NOT NULL,
    "foto_url" VARCHAR(500),
    "apellido_paterno" VARCHAR(100),
    "apellido_materno" VARCHAR(100),
    "fecha_nacimiento" DATE,
    "email" VARCHAR(255) NOT NULL,
    "telefono" VARCHAR(30),
    "password_hash" VARCHAR(255),
    "idioma_preferido" VARCHAR(10) NOT NULL DEFAULT 'es',
    "moneda_preferida" "Moneda" NOT NULL DEFAULT 'MXN',
    "version_token" INTEGER NOT NULL DEFAULT 1,
    "fecha_registro" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "eliminado_en" TIMESTAMPTZ(6),
    "nombre_usuario" VARCHAR(50),
    "pais_iso2" CHAR(2),
    "timezone" VARCHAR(64),

    CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id_usuario")
);

-- CreateTable
CREATE TABLE "categorias_productos" (
    "id_categoria" INTEGER NOT NULL,
    "id_producto" BIGINT NOT NULL,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "categorias_productos_pkey" PRIMARY KEY ("id_categoria","id_producto")
);

-- CreateTable
CREATE TABLE "pedido_productor" (
    "id_pedido" BIGINT NOT NULL,
    "id_productor" INTEGER NOT NULL,
    "estado" VARCHAR(30) NOT NULL DEFAULT 'pendiente',
    "id_envio" BIGINT,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "subtotal_bruto" DECIMAL(14,2),
    "comision_marketplace" DECIMAL(14,2) NOT NULL DEFAULT 0,
    "monto_neto_productor" DECIMAL(14,2),
    "moneda" "Moneda",
    "id_comision_aplicada" INTEGER,
    "id_payout" BIGINT,

    CONSTRAINT "pedido_productor_pkey" PRIMARY KEY ("id_pedido","id_productor")
);

-- CreateTable
CREATE TABLE "paises" (
    "iso2" CHAR(2) NOT NULL,
    "iso3" CHAR(3) NOT NULL,
    "nombre" VARCHAR(120) NOT NULL,
    "nombre_local" VARCHAR(120),
    "moneda_default" "Moneda" NOT NULL,
    "idioma_default" VARCHAR(10) NOT NULL DEFAULT 'es',
    "prefijo_telefono" VARCHAR(8),
    "activo_venta" BOOLEAN NOT NULL DEFAULT false,
    "activo_envio" BOOLEAN NOT NULL DEFAULT false,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "paises_pkey" PRIMARY KEY ("iso2")
);

-- CreateTable
CREATE TABLE "idiomas" (
    "codigo" VARCHAR(10) NOT NULL,
    "nombre" VARCHAR(80) NOT NULL,
    "nombre_local" VARCHAR(80),
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "rtl" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "idiomas_pkey" PRIMARY KEY ("codigo")
);

-- CreateTable
CREATE TABLE "tasas_cambio" (
    "moneda_origen" "Moneda" NOT NULL,
    "moneda_destino" "Moneda" NOT NULL,
    "vigente_desde" TIMESTAMPTZ(6) NOT NULL,
    "tasa" DECIMAL(18,8) NOT NULL,
    "fuente" VARCHAR(50) NOT NULL DEFAULT 'manual',
    "vigente_hasta" TIMESTAMPTZ(6),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tasas_cambio_pkey" PRIMARY KEY ("moneda_origen","moneda_destino","vigente_desde")
);

-- CreateTable
CREATE TABLE "comisiones" (
    "id_comision" SERIAL NOT NULL,
    "alcance" VARCHAR(20) NOT NULL,
    "pais_iso2" CHAR(2),
    "id_categoria" INTEGER,
    "id_productor" INTEGER,
    "porcentaje" DECIMAL(6,4) NOT NULL,
    "monto_fijo" DECIMAL(12,2),
    "moneda_monto_fijo" "Moneda",
    "prioridad" INTEGER NOT NULL DEFAULT 100,
    "vigente_desde" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "vigente_hasta" TIMESTAMPTZ(6),
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "comisiones_pkey" PRIMARY KEY ("id_comision")
);

-- CreateTable
CREATE TABLE "payouts" (
    "id_payout" BIGSERIAL NOT NULL,
    "id_productor" INTEGER NOT NULL,
    "moneda" "Moneda" NOT NULL,
    "monto_bruto" DECIMAL(14,2) NOT NULL,
    "monto_comision" DECIMAL(14,2) NOT NULL,
    "monto_neto" DECIMAL(14,2) NOT NULL,
    "estado" VARCHAR(20) NOT NULL DEFAULT 'pendiente',
    "proveedor" VARCHAR(50),
    "referencia_externa" VARCHAR(150),
    "periodo_desde" DATE NOT NULL,
    "periodo_hasta" DATE NOT NULL,
    "notas" TEXT,
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "procesado_en" TIMESTAMPTZ(6),
    "intentos" INTEGER NOT NULL DEFAULT 0,
    "ultimo_error" VARCHAR(500),
    "proximo_reintento" TIMESTAMPTZ(6),
    "aprobado_por" UUID,
    "aprobado_en" TIMESTAMPTZ(6),

    CONSTRAINT "payouts_pkey" PRIMARY KEY ("id_payout")
);

-- CreateTable
CREATE TABLE "payment_fees" (
    "id_fee" BIGSERIAL NOT NULL,
    "id_pago" BIGINT NOT NULL,
    "proveedor" VARCHAR(50) NOT NULL,
    "monto_fee" DECIMAL(14,6) NOT NULL,
    "moneda" "Moneda" NOT NULL,
    "porcentaje" DECIMAL(6,4),
    "monto_fijo" DECIMAL(14,2),
    "descripcion" VARCHAR(200),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "payment_fees_pkey" PRIMARY KEY ("id_fee")
);

-- CreateTable
CREATE TABLE "refunds" (
    "id_refund" BIGSERIAL NOT NULL,
    "id_pago" BIGINT NOT NULL,
    "id_pedido" BIGINT NOT NULL,
    "monto" DECIMAL(14,2) NOT NULL,
    "moneda" "Moneda" NOT NULL,
    "motivo" VARCHAR(500),
    "estado" VARCHAR(30) NOT NULL DEFAULT 'pendiente',
    "tipo" VARCHAR(20) NOT NULL DEFAULT 'total',
    "proveedor_ref_id" VARCHAR(150),
    "solicitado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "procesado_en" TIMESTAMPTZ(6),

    CONSTRAINT "refunds_pkey" PRIMARY KEY ("id_refund")
);

-- CreateTable
CREATE TABLE "traducciones" (
    "entidad_tipo" VARCHAR(30) NOT NULL,
    "entidad_id" INTEGER NOT NULL,
    "idioma" VARCHAR(10) NOT NULL,
    "nombre" VARCHAR(200),
    "descripcion" TEXT,
    "actualizado_en" TIMESTAMPTZ(6),

    CONSTRAINT "traducciones_pkey" PRIMARY KEY ("entidad_tipo","entidad_id","idioma")
);

-- CreateTable
CREATE TABLE "restricciones_envio_categoria" (
    "id_restriccion" SERIAL NOT NULL,
    "pais_iso2" CHAR(2) NOT NULL,
    "estado_codigo" VARCHAR(10) NOT NULL,
    "id_categoria" INTEGER NOT NULL,
    "permitido" BOOLEAN NOT NULL DEFAULT true,
    "notas" TEXT,
    "vigente_desde" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "vigente_hasta" TIMESTAMPTZ(6),
    "creado_en" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "restricciones_envio_categoria_pkey" PRIMARY KEY ("id_restriccion")
);

-- CreateTable
CREATE TABLE "webhook_events_log" (
    "id" BIGSERIAL NOT NULL,
    "provider" VARCHAR(30) NOT NULL,
    "event_id" VARCHAR(200) NOT NULL,
    "event_type" VARCHAR(100) NOT NULL,
    "processed_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "webhook_events_log_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_archivos_entidad" ON "archivos"("entidad_tipo", "entidad_id");

-- CreateIndex
CREATE INDEX "idx_auditoria_fecha" ON "auditoria"("fecha");

-- CreateIndex
CREATE INDEX "idx_auditoria_usuario" ON "auditoria"("id_usuario");

-- CreateIndex
CREATE INDEX "idx_carrito_producto" ON "carrito_item"("id_producto");

-- CreateIndex
CREATE INDEX "idx_carrito_usuario" ON "carrito_item"("id_usuario");

-- CreateIndex
CREATE UNIQUE INDEX "carrito_item_id_usuario_id_producto_key" ON "carrito_item"("id_usuario", "id_producto");

-- CreateIndex
CREATE UNIQUE INDEX "categorias_slug_key" ON "categorias"("slug");

-- CreateIndex
CREATE INDEX "idx_cat_padre" ON "categorias"("id_padre");

-- CreateIndex
CREATE INDEX "idx_cat_activo" ON "categorias"("activo");

-- CreateIndex
CREATE INDEX "idx_cat_nombre" ON "categorias"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "configuracion_sistema_clave_key" ON "configuracion_sistema"("clave");

-- CreateIndex
CREATE INDEX "idx_detalle_pedido" ON "detalle_pedido"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_detalle_producto" ON "detalle_pedido"("id_producto");

-- CreateIndex
CREATE INDEX "idx_detalle_productor" ON "detalle_pedido"("id_productor");

-- CreateIndex
CREATE INDEX "idx_detalle_tienda" ON "detalle_pedido"("id_tienda");

-- CreateIndex
CREATE UNIQUE INDEX "uq_detalle_pedido_producto" ON "detalle_pedido"("id_pedido", "id_producto");

-- CreateIndex
CREATE INDEX "idx_direcciones_ubicacion" ON "direcciones" USING GIN ("ubicacion");

-- CreateIndex
CREATE INDEX "idx_direcciones_predeterminada" ON "direcciones"("id_usuario", "es_predeterminada");

-- CreateIndex
CREATE INDEX "idx_direcciones_internacional" ON "direcciones"("es_internacional");

-- CreateIndex
CREATE INDEX "idx_envio_cotizaciones_pedido" ON "envio_cotizaciones"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_envio_cotizaciones_usuario" ON "envio_cotizaciones"("id_usuario");

-- CreateIndex
CREATE INDEX "idx_envio_eventos_guia" ON "envio_eventos"("id_guia");

-- CreateIndex
CREATE UNIQUE INDEX "envio_guias_numero_guia_key" ON "envio_guias"("numero_guia");

-- CreateIndex
CREATE INDEX "idx_envios_estado" ON "envios"("estado");

-- CreateIndex
CREATE INDEX "idx_envios_pedido" ON "envios"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_envios_transportista" ON "envios"("id_transportista");

-- CreateIndex
CREATE INDEX "idx_facturas_pedido" ON "facturas"("id_pedido");

-- CreateIndex
CREATE UNIQUE INDEX "integraciones_envio_id_transportista_entorno_key" ON "integraciones_envio"("id_transportista", "entorno");

-- CreateIndex
CREATE INDEX "idx_inventario_producto" ON "inventario"("id_producto");

-- CreateIndex
CREATE INDEX "idx_inventario_producto_stock" ON "inventario"("id_producto", "stock");

-- CreateIndex
CREATE INDEX "idx_lote_atributos_lote" ON "lote_atributos"("id_lote");

-- CreateIndex
CREATE UNIQUE INDEX "lote_atributos_id_lote_clave_key" ON "lote_atributos"("id_lote", "clave");

-- CreateIndex
CREATE UNIQUE INDEX "lotes_codigo_lote_key" ON "lotes"("codigo_lote");

-- CreateIndex
CREATE INDEX "idx_lotes_codigo" ON "lotes"("codigo_lote");

-- CreateIndex
CREATE INDEX "idx_lotes_productor" ON "lotes"("id_productor");

-- CreateIndex
CREATE INDEX "idx_lotes_estado" ON "lotes"("estado_lote");

-- CreateIndex
CREATE INDEX "idx_lotes_productor_estado" ON "lotes"("id_productor", "estado_lote");

-- CreateIndex
CREATE INDEX "idx_lista_deseos_usuario" ON "lista_deseos_item"("id_usuario");

-- CreateIndex
CREATE INDEX "idx_lista_deseos_producto" ON "lista_deseos_item"("id_producto");

-- CreateIndex
CREATE UNIQUE INDEX "lista_deseos_item_id_usuario_id_producto_key" ON "lista_deseos_item"("id_usuario", "id_producto");

-- CreateIndex
CREATE INDEX "idx_movimientos_creado_en" ON "movimientos_inventario"("creado_en");

-- CreateIndex
CREATE INDEX "idx_movimientos_inventario" ON "movimientos_inventario"("id_inventario");

-- CreateIndex
CREATE INDEX "idx_movimientos_pedido" ON "movimientos_inventario"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_notificaciones_usuario_leido" ON "notificaciones"("id_usuario", "leido");

-- CreateIndex
CREATE INDEX "idx_oauth_cuentas_usuario" ON "oauth_cuentas"("id_usuario");

-- CreateIndex
CREATE UNIQUE INDEX "oauth_cuentas_provider_uid_key" ON "oauth_cuentas"("provider", "provider_uid");

-- CreateIndex
CREATE UNIQUE INDEX "uq_pagos_payment_intent_id" ON "pagos"("payment_intent_id");

-- CreateIndex
CREATE INDEX "idx_pagos_estado" ON "pagos"("estado");

-- CreateIndex
CREATE INDEX "idx_pagos_pedido" ON "pagos"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_pagos_proveedor" ON "pagos"("proveedor");

-- CreateIndex
CREATE INDEX "idx_pedidos_estado" ON "pedidos"("estado");

-- CreateIndex
CREATE INDEX "idx_pedidos_usuario" ON "pedidos"("id_usuario");

-- CreateIndex
CREATE INDEX "idx_pedidos_soft_fecha" ON "pedidos"("eliminado_en", "fecha_creacion" DESC);

-- CreateIndex
CREATE INDEX "idx_pedidos_soft_estado_fecha" ON "pedidos"("eliminado_en", "estado", "fecha_creacion" DESC);

-- CreateIndex
CREATE INDEX "idx_pedidos_usuario_soft_fecha" ON "pedidos"("id_usuario", "eliminado_en", "fecha_creacion" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "permisos_nombre_key" ON "permisos"("nombre");

-- CreateIndex
CREATE INDEX "idx_producto_imagenes_producto" ON "producto_imagenes"("id_producto");

-- CreateIndex
CREATE INDEX "idx_prod_cat_categoria" ON "productor_categoria"("id_categoria");

-- CreateIndex
CREATE UNIQUE INDEX "productores_id_usuario_key" ON "productores"("id_usuario");

-- CreateIndex
CREATE UNIQUE INDEX "productores_stripe_account_id_key" ON "productores"("stripe_account_id");

-- CreateIndex
CREATE INDEX "idx_productores_estado" ON "productores"("estado");

-- CreateIndex
CREATE INDEX "idx_productores_dir_bodega" ON "productores"("id_direccion_bodega");

-- CreateIndex
CREATE INDEX "idx_productos_metadata" ON "productos" USING GIN ("metadata");

-- CreateIndex
CREATE INDEX "idx_productos_status" ON "productos"("status");

-- CreateIndex
CREATE INDEX "idx_productos_tienda" ON "productos"("id_tienda");

-- CreateIndex
CREATE INDEX "idx_productos_traducciones" ON "productos" USING GIN ("traducciones");

-- CreateIndex
CREATE INDEX "idx_productos_tienda_status" ON "productos"("id_tienda", "status", "eliminado_en");

-- CreateIndex
CREATE INDEX "idx_productos_lote" ON "productos"("id_lote");

-- CreateIndex
CREATE INDEX "idx_productos_status_creado" ON "productos"("status", "eliminado_en", "creado_en" DESC);

-- CreateIndex
CREATE INDEX "idx_productos_nombre_trgm" ON "productos" USING GIN ("nombre" gin_trgm_ops);

-- CreateIndex
CREATE INDEX "idx_productos_descripcion_trgm" ON "productos" USING GIN ("descripcion" gin_trgm_ops);

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_hash_key" ON "refresh_tokens"("token_hash");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_usuario" ON "refresh_tokens"("id_usuario");

-- CreateIndex
CREATE INDEX "idx_resenas_producto" ON "resenas"("id_producto");

-- CreateIndex
CREATE INDEX "idx_resenas_prod_eliminado" ON "resenas"("id_producto", "eliminado_en");

-- CreateIndex
CREATE INDEX "idx_resenas_usuario" ON "resenas"("id_usuario");

-- CreateIndex
CREATE UNIQUE INDEX "resenas_id_usuario_id_producto_key" ON "resenas"("id_usuario", "id_producto");

-- CreateIndex
CREATE UNIQUE INDEX "roles_nombre_key" ON "roles"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "servicios_envio_id_transportista_codigo_servicio_key" ON "servicios_envio"("id_transportista", "codigo_servicio");

-- CreateIndex
CREATE INDEX "idx_tasas_categoria" ON "tasas_impuesto"("id_categoria");

-- CreateIndex
CREATE INDEX "idx_tiendas_productor" ON "tiendas"("id_productor");

-- CreateIndex
CREATE INDEX "idx_tiendas_nombre" ON "tiendas"("nombre");

-- CreateIndex
CREATE INDEX "idx_tiendas_productor_status" ON "tiendas"("id_productor", "status");

-- CreateIndex
CREATE UNIQUE INDEX "transportistas_codigo_key" ON "transportistas"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_email_key" ON "usuarios"("email");

-- CreateIndex
CREATE UNIQUE INDEX "usuarios_nombre_usuario_key" ON "usuarios"("nombre_usuario");

-- CreateIndex
CREATE INDEX "idx_cat_prod_producto" ON "categorias_productos"("id_producto");

-- CreateIndex
CREATE INDEX "idx_pedido_prod_pedido" ON "pedido_productor"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_pedido_prod_productor" ON "pedido_productor"("id_productor");

-- CreateIndex
CREATE INDEX "idx_pedido_prod_payout" ON "pedido_productor"("id_payout");

-- CreateIndex
CREATE INDEX "idx_pedido_productor_actualizado" ON "pedido_productor"("actualizado_en");

-- CreateIndex
CREATE INDEX "idx_pedido_prod_productor_estado" ON "pedido_productor"("id_productor", "estado", "actualizado_en");

-- CreateIndex
CREATE UNIQUE INDEX "paises_iso3_key" ON "paises"("iso3");

-- CreateIndex
CREATE INDEX "idx_paises_activo_venta" ON "paises"("activo_venta");

-- CreateIndex
CREATE INDEX "idx_tasas_cambio_lookup" ON "tasas_cambio"("moneda_origen", "moneda_destino", "vigente_hasta");

-- CreateIndex
CREATE INDEX "idx_comisiones_resolucion" ON "comisiones"("alcance", "activo", "prioridad");

-- CreateIndex
CREATE INDEX "idx_comisiones_productor" ON "comisiones"("id_productor");

-- CreateIndex
CREATE INDEX "idx_payouts_productor_estado" ON "payouts"("id_productor", "estado");

-- CreateIndex
CREATE INDEX "idx_payouts_retry" ON "payouts"("estado", "proximo_reintento");

-- CreateIndex
CREATE INDEX "idx_payment_fees_pago" ON "payment_fees"("id_pago");

-- CreateIndex
CREATE INDEX "idx_refunds_pago" ON "refunds"("id_pago");

-- CreateIndex
CREATE INDEX "idx_refunds_pedido" ON "refunds"("id_pedido");

-- CreateIndex
CREATE INDEX "idx_refunds_estado" ON "refunds"("estado");

-- CreateIndex
CREATE INDEX "idx_traducciones_entidad" ON "traducciones"("entidad_tipo", "entidad_id");

-- CreateIndex
CREATE INDEX "idx_restr_envio_categoria" ON "restricciones_envio_categoria"("id_categoria");

-- CreateIndex
CREATE INDEX "idx_restr_envio_pais_estado" ON "restricciones_envio_categoria"("pais_iso2", "estado_codigo");

-- CreateIndex
CREATE UNIQUE INDEX "restricciones_envio_categoria_pais_iso2_estado_codigo_id_ca_key" ON "restricciones_envio_categoria"("pais_iso2", "estado_codigo", "id_categoria");

-- CreateIndex
CREATE INDEX "idx_webhook_events_processed_at" ON "webhook_events_log"("processed_at");

-- CreateIndex
CREATE UNIQUE INDEX "webhook_events_log_provider_event_id_key" ON "webhook_events_log"("provider", "event_id");

-- AddForeignKey
ALTER TABLE "archivos" ADD CONSTRAINT "archivos_validado_por_fkey" FOREIGN KEY ("validado_por") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auditoria" ADD CONSTRAINT "auditoria_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "carrito_item" ADD CONSTRAINT "carrito_item_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "carrito_item" ADD CONSTRAINT "carrito_item_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "categorias" ADD CONSTRAINT "categorias_id_padre_fkey" FOREIGN KEY ("id_padre") REFERENCES "categorias"("id_categoria") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_pedido" ADD CONSTRAINT "detalle_pedido_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_pedido" ADD CONSTRAINT "detalle_pedido_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_pedido" ADD CONSTRAINT "detalle_pedido_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "detalle_pedido" ADD CONSTRAINT "detalle_pedido_id_tienda_fkey" FOREIGN KEY ("id_tienda") REFERENCES "tiendas"("id_tienda") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "direcciones" ADD CONSTRAINT "direcciones_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "direcciones" ADD CONSTRAINT "direcciones_pais_iso2_fkey" FOREIGN KEY ("pais_iso2") REFERENCES "paises"("iso2") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_cotizaciones" ADD CONSTRAINT "envio_cotizaciones_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_cotizaciones" ADD CONSTRAINT "envio_cotizaciones_id_servicio_fkey" FOREIGN KEY ("id_servicio") REFERENCES "servicios_envio"("id_servicio") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_cotizaciones" ADD CONSTRAINT "envio_cotizaciones_id_transportista_fkey" FOREIGN KEY ("id_transportista") REFERENCES "transportistas"("id_transportista") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_cotizaciones" ADD CONSTRAINT "envio_cotizaciones_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_eventos" ADD CONSTRAINT "envio_eventos_id_guia_fkey" FOREIGN KEY ("id_guia") REFERENCES "envio_guias"("id_guia") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_eventos" ADD CONSTRAINT "envio_eventos_id_transportista_fkey" FOREIGN KEY ("id_transportista") REFERENCES "transportistas"("id_transportista") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_guias" ADD CONSTRAINT "envio_guias_id_cotizacion_fkey" FOREIGN KEY ("id_cotizacion") REFERENCES "envio_cotizaciones"("id_cotizacion") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_guias" ADD CONSTRAINT "envio_guias_id_envio_fkey" FOREIGN KEY ("id_envio") REFERENCES "envios"("id_envio") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envio_guias" ADD CONSTRAINT "envio_guias_id_transportista_fkey" FOREIGN KEY ("id_transportista") REFERENCES "transportistas"("id_transportista") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envios" ADD CONSTRAINT "envios_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envios" ADD CONSTRAINT "envios_id_servicio_fkey" FOREIGN KEY ("id_servicio") REFERENCES "servicios_envio"("id_servicio") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "envios" ADD CONSTRAINT "envios_id_transportista_fkey" FOREIGN KEY ("id_transportista") REFERENCES "transportistas"("id_transportista") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "facturas" ADD CONSTRAINT "facturas_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "integraciones_envio" ADD CONSTRAINT "integraciones_envio_id_transportista_fkey" FOREIGN KEY ("id_transportista") REFERENCES "transportistas"("id_transportista") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "inventario" ADD CONSTRAINT "inventario_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "lote_atributos" ADD CONSTRAINT "lote_atributos_id_lote_fkey" FOREIGN KEY ("id_lote") REFERENCES "lotes"("id_lote") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "lotes" ADD CONSTRAINT "lotes_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "lotes" ADD CONSTRAINT "lotes_id_region_fkey" FOREIGN KEY ("id_region") REFERENCES "regiones"("id_region") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "lista_deseos_item" ADD CONSTRAINT "lista_deseos_item_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lista_deseos_item" ADD CONSTRAINT "lista_deseos_item_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "movimientos_inventario" ADD CONSTRAINT "fk_mov_pedido" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "movimientos_inventario" ADD CONSTRAINT "movimientos_inventario_id_inventario_fkey" FOREIGN KEY ("id_inventario") REFERENCES "inventario"("id_inventario") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "movimientos_inventario" ADD CONSTRAINT "movimientos_inventario_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "notificaciones" ADD CONSTRAINT "notificaciones_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "oauth_cuentas" ADD CONSTRAINT "oauth_cuentas_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pagos" ADD CONSTRAINT "pagos_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedidos" ADD CONSTRAINT "pedidos_id_direccion_envio_fkey" FOREIGN KEY ("id_direccion_envio") REFERENCES "direcciones"("id_direccion") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedidos" ADD CONSTRAINT "pedidos_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedidos" ADD CONSTRAINT "pedidos_pais_destino_iso2_fkey" FOREIGN KEY ("pais_destino_iso2") REFERENCES "paises"("iso2") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "producto_imagenes" ADD CONSTRAINT "producto_imagenes_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productor_categoria" ADD CONSTRAINT "productor_categoria_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "categorias"("id_categoria") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productor_categoria" ADD CONSTRAINT "productor_categoria_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productores" ADD CONSTRAINT "productores_id_direccion_bodega_fkey" FOREIGN KEY ("id_direccion_bodega") REFERENCES "direcciones"("id_direccion") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productores" ADD CONSTRAINT "productores_id_region_fkey" FOREIGN KEY ("id_region") REFERENCES "regiones"("id_region") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productores" ADD CONSTRAINT "productores_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productores" ADD CONSTRAINT "productores_revisado_por_fkey" FOREIGN KEY ("revisado_por") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_actualizado_por_fkey" FOREIGN KEY ("actualizado_por") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_creado_por_fkey" FOREIGN KEY ("creado_por") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_id_lote_fkey" FOREIGN KEY ("id_lote") REFERENCES "lotes"("id_lote") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "productos" ADD CONSTRAINT "productos_id_tienda_fkey" FOREIGN KEY ("id_tienda") REFERENCES "tiendas"("id_tienda") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "refresh_tokens" ADD CONSTRAINT "refresh_tokens_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "regiones" ADD CONSTRAINT "regiones_pais_iso2_fkey" FOREIGN KEY ("pais_iso2") REFERENCES "paises"("iso2") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "resenas" ADD CONSTRAINT "resenas_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "resenas" ADD CONSTRAINT "resenas_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "rol_permiso" ADD CONSTRAINT "rol_permiso_id_permiso_fkey" FOREIGN KEY ("id_permiso") REFERENCES "permisos"("id_permiso") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "rol_permiso" ADD CONSTRAINT "rol_permiso_id_rol_fkey" FOREIGN KEY ("id_rol") REFERENCES "roles"("id_rol") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "servicios_envio" ADD CONSTRAINT "servicios_envio_id_transportista_fkey" FOREIGN KEY ("id_transportista") REFERENCES "transportistas"("id_transportista") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tasas_impuesto" ADD CONSTRAINT "tasas_impuesto_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "categorias"("id_categoria") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tasas_impuesto" ADD CONSTRAINT "tasas_impuesto_pais_iso2_fkey" FOREIGN KEY ("pais_iso2") REFERENCES "paises"("iso2") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tiendas" ADD CONSTRAINT "tiendas_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tiendas" ADD CONSTRAINT "tiendas_pais_operacion_fkey" FOREIGN KEY ("pais_operacion") REFERENCES "paises"("iso2") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_id_rol_fkey" FOREIGN KEY ("id_rol") REFERENCES "roles"("id_rol") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuario_rol" ADD CONSTRAINT "usuario_rol_id_usuario_fkey" FOREIGN KEY ("id_usuario") REFERENCES "usuarios"("id_usuario") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usuarios" ADD CONSTRAINT "usuarios_pais_iso2_fkey" FOREIGN KEY ("pais_iso2") REFERENCES "paises"("iso2") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "categorias_productos" ADD CONSTRAINT "categorias_productos_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "categorias"("id_categoria") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "categorias_productos" ADD CONSTRAINT "categorias_productos_id_producto_fkey" FOREIGN KEY ("id_producto") REFERENCES "productos"("id_producto") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedido_productor" ADD CONSTRAINT "pedido_productor_id_comision_aplicada_fkey" FOREIGN KEY ("id_comision_aplicada") REFERENCES "comisiones"("id_comision") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedido_productor" ADD CONSTRAINT "pedido_productor_id_envio_fkey" FOREIGN KEY ("id_envio") REFERENCES "envios"("id_envio") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedido_productor" ADD CONSTRAINT "pedido_productor_id_payout_fkey" FOREIGN KEY ("id_payout") REFERENCES "payouts"("id_payout") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedido_productor" ADD CONSTRAINT "pedido_productor_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pedido_productor" ADD CONSTRAINT "pedido_productor_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "paises" ADD CONSTRAINT "paises_idioma_default_fkey" FOREIGN KEY ("idioma_default") REFERENCES "idiomas"("codigo") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comisiones" ADD CONSTRAINT "comisiones_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "categorias"("id_categoria") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comisiones" ADD CONSTRAINT "comisiones_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "comisiones" ADD CONSTRAINT "comisiones_pais_iso2_fkey" FOREIGN KEY ("pais_iso2") REFERENCES "paises"("iso2") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payouts" ADD CONSTRAINT "payouts_id_productor_fkey" FOREIGN KEY ("id_productor") REFERENCES "productores"("id_productor") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "payouts" ADD CONSTRAINT "payouts_aprobado_por_fkey" FOREIGN KEY ("aprobado_por") REFERENCES "usuarios"("id_usuario") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment_fees" ADD CONSTRAINT "payment_fees_id_pago_fkey" FOREIGN KEY ("id_pago") REFERENCES "pagos"("id_pago") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "refunds" ADD CONSTRAINT "refunds_id_pago_fkey" FOREIGN KEY ("id_pago") REFERENCES "pagos"("id_pago") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "refunds" ADD CONSTRAINT "refunds_id_pedido_fkey" FOREIGN KEY ("id_pedido") REFERENCES "pedidos"("id_pedido") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "restricciones_envio_categoria" ADD CONSTRAINT "restricciones_envio_categoria_id_categoria_fkey" FOREIGN KEY ("id_categoria") REFERENCES "categorias"("id_categoria") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "restricciones_envio_categoria" ADD CONSTRAINT "restricciones_envio_categoria_pais_iso2_fkey" FOREIGN KEY ("pais_iso2") REFERENCES "paises"("iso2") ON DELETE RESTRICT ON UPDATE NO ACTION;

